{
  "appId": "com.freedreleasing.app",
  "appName": "Freed 释放",
  "webDir": "www",
  "bundledWebRuntime": false,
  "ios": {
    "contentInset": "never",
    "scrollEnabled": true,
    "limitsNavigationsToAppBoundDomains": false,
    "preferredContentMode": "mobile",
    "allowsInlineMediaPlayback": true,
    "mediaTypesRequiringUserActionForPlayback": []
  },
  "server": {
    "iosScheme": "freed",
    "cleartext": false
  },
  "plugins": {
    "SplashScreen": {
      "launchShowDuration": 1500,
      "launchAutoHide": true,
      "backgroundColor": "#FFE4E1",
      "iosSpinnerStyle": "small",
      "showSpinner": false
    },
    "StatusBar": {
      "style": "DEFAULT",
      "backgroundColor": "#FFE4E1"
    },
    "Keyboard": {
      "resize": "native",
      "style": "default"
    }
  }
}
